@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

body{
  width: 380px;
  max-height: 550px;
  height: 1px;
}

/* * {
  outline: 1px solid red;
} */

